<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>OpenHub</title>
    <link rel="stylesheet" href="/public/css/vendor/bootstrap-3.0.2.min.css">
    <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">OpenHub</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Dashboard</a></li>
        </ul>
    </nav>

    <div class="container">
        {{{content}}}
    </div>
</body>
</html>
